
/*TARJETAS*/
.tarjeta {

    width: 20%;
    background-color: lightslategray;
    display: inline-block;
    margin: 1%;
    
    p {
        padding: 20px;
        margin: 0;
    }

}